<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>
<script src="{{ "assets/js/jquery.dropotron.min.js" | relURL }}"></script>
<script src="{{ "assets/js/skel.min.js" | relURL }}"></script>
<script src="{{ "assets/js/skel-viewport.min.js" | relURL }}"></script>
<script src="{{ "assets/js/util.js" | relURL }}"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ "assets/js/main.js" | relURL }}"></script>

{{ partial "scripts/googleanalytics.html" . }}
{{ partial "scripts/disqus.html" . }}
{{ partial "scripts/scriptscustom.html" . }}
